/* Greens */
$primary_green 		: #a3bf61;
$primary_green_dark	: #93af51;
$dark_green 		: #7e943d;
$darker_green 		: #a3bf61;

/* Greys & whites */
$dark_gray			: #3a3a3c;
$grey				: #4b4b4b;
$lighter_grey		: #cfcfcf;
$white				: #fff;

/* Colors */
$orange				: #ff7e30;